---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

  <title>Meine Service SEO Stuttgart | Webentwicklung Stuttgart</title>


{% include header.html %}



<section id="homepage-hero">
	<div class="homepage-wrapper">

    <img src="/img/arrow.svg" alt="pfeil-nach-unten" width="20px">
  	<p class="site-description-down">Suchmaschinenoptimierer</p>
  	<p class="site-description-bottom">für <span class="yellow">Stuttgart</span>.</p>



	</div>
</section>



{% include nav.html %}


<section id="area1">

	<div class="wrapper-left">

    <h1>Meine Serviceleistungen</h1>




	</div>

	<div class="wrapper-right">

		{% include site.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
